name: Publish NuGet Package

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.x"

      - name: Get latest Tailwind CSS version
        id: get_tailwind_version
        run: |
          LATEST_TAILWIND_VERSION=$(curl -s https://api.github.com/repos/tailwindlabs/tailwindcss/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
          echo "TAILWINDCSS_VERSION=$LATEST_TAILWIND_VERSION" >> $GITHUB_ENV

      - name: Extract version from tag
        id: extract_version
        run: |
          # Ensure all tags are available locally
          git fetch --tags --prune

          # Find the latest semver tag (v*.*.*) and set GITHUB_REF accordingly
          LATEST_TAG=$(git tag --list 'v*.*.*' --sort=-v:refname | head -n1)
          export GITHUB_REF="refs/tags/${LATEST_TAG}"
          VERSION_TAG=${GITHUB_REF#refs/tags/v}
          VERSION="$VERSION_TAG+v${TAILWINDCSS_VERSION//v/}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Download TailwindCSS executables
        run: |
          chmod +x ./DotnetDevKR.TailwindCSS/runtime/install.sh
          ./DotnetDevKR.TailwindCSS/runtime/install.sh ${{ env.TAILWINDCSS_VERSION }}

      - name: Restore dependencies
        run: dotnet restore DotnetDevKR.TailwindCSS.sln

      - name: Build
        run: dotnet build DotnetDevKR.TailwindCSS.sln --configuration Release --no-restore

      - name: Pack
        run: |
          dotnet pack ./DotnetDevKR.TailwindCSS/DotnetDevKR.TailwindCSS.csproj --configuration Release \
            --no-build --no-restore \
            --output ./artifacts \
            /p:Version=${{ env.VERSION }}

      - name: Publish to NuGet.org
        run: |
          dotnet nuget push ./artifacts/*.nupkg \
            --source https://api.nuget.org/v3/index.json \
            --api-key ${{ secrets.NUGET_API_KEY }} \
            --skip-duplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

      - name: Publish to GitHub Packages
        run: |
          dotnet nuget push ./artifacts/*.nupkg \
            --source https://nuget.pkg.github.com/dotnetdev-kr/index.json \
            --api-key ${{ secrets.GITHUB_TOKEN }} \
            --skip-duplicate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
